HTTP_PORT=8080
POSTGRES_DSN=postgres://clickstream:clickstream@localhost:5432/clickstream?sslmode=disable
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=events

POSTGRES_USER=clickstream
POSTGRES_PASSWORD=clickstream
POSTGRES_DB=clickstream